/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Google Fonts link */
body{
    font-family: 'Poppins', sans-serif;
}
.nav-gap{
    margin-right: 385px;
}
.btn-text{
    color: #3F87F5;
}
.card-p-style{
    color: #231D4F;
    font-size: 36px;
}
.card-t-style{
    color: #231D4F;
    font-size: 28px;
}
.card-dis{
    color: #848199;
    font-weight: 400;
}
.card-dis i.far{
    color: #5243C2;
    background: rgba(82, 67, 194, 0.021);;
    border-color: rgba(82, 67, 194, 0.103693);
}
.btn-custom{
    background: #f496d22a;
    padding: 13px 62px 13px 62px;
    font-weight: 700;
}
.margin-top{
    margin-top: 100px;
}
.margin-bottom{
    margin-bottom: 100px;
}
.custom-column{
    background-color: #3F87F5;
}
.custom-column i.fas{
    color: #5293F6;
    background: #ffff;
    border-radius: 50%;
}
.custom-hot{
    margin-left: 155px;
    transform: translate(100%,-90%);
    background: #FF4E4E;
    font-weight: 900;
}
footer{
    background-color: #0B0D17;
    height: 280px;
    display: flex;
    align-items: center;
}
.app-link{
    padding: 16px auto;
}
.app-link a img{
    width: 135px;
}
@media only screen and (max-width: 992px) {
    .carousel-item img{
        width: 360px;
        height: 586px;        
    }
    
}